r_*
libs
containers
output
SPACEmap_peptide_analysis_final_original.Rmd
.DS_Store
output.prev.add/
tmp
input/interpro82.xml
input/prev/interpro82.xml
input/.~lock*
prev.output
prev.output.1
domain_classification/
input.tar.gz
scripts.tar.gz
archive

